bcrypt>=5.0.0
cryptography>=46.0.6
fastapi>=0.128.8
imagekitio>=5.2.0
logtail-python>=0.3.4
passlib>=1.7.4
pyjwt>=2.13.0
pymysql>=1.1.0
python-dotenv>=1.2.1
sqlalchemy>=2.0.49
uvicorn[standard]>=0.39.0
